<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Khoi Tran - Home Page</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Nav Bar-->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">About Me</a>
                    </li>
                    <li>
                        <a href="#">Blog</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-10">

                <h1 class="page-header">
                    Khoi Tran's Home Page
                    <small>Assignment 1</small>
                </h1>

                <!-- First Blog Post -->
                <article>
                    <h2>
                        <a href="#">Figure Post</a>
                    </h2>
                    <p><span class="glyphicon glyphicon-time"></span> Posted on January 26, 2017 at 10:00 PM</p>
                    <hr>
                    <img src="img/muffin.jpg">
                    <hr>
                    <p>Here is an English Muffin picture.</p>
                </article>
                
              
                <hr>
                
                <hr>
            </div>
        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2016</p>
                </div>
            </div>
        </footer>

    </div>

</body>

</html>
